<h2>weather recommender</h2>

<form id="search" action="/" method="post">
	<input type="text" placeholder=" Enter your city... "/>
	<input type="submit" value="submit"></input>
</form>

<div id="results"></div>
