<section id="home">
  <h1>Weather Planner</h1>
  <h2>recommended actvities for your weather</h2>
  <input type="text" id="citySearch" placeholder="&#xF002; enter city..." class="fontAwesome" />
</section>

<section id="weatherResults">
  <div class="weatherWrapper">
    <div class="weather">
      <div class="weatherTemp">
      </div>
      <div class="weatherDetails">
      </div>
    </div>
    <div class="categories"></div>
  </div>
</section>
<div id="map"></div>
<section id="placeResults"></section>
