<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Weather Recommender</title>
  </head>
  <body>
   {{{body}}}
   <p class="hidden-key">{{secondKey}}</p>
   <script src="https://code.jquery.com/jquery-2.1.4.js">
   </script>
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{secretKey}}&libraries=places"></script>
   <script src="script.js"></script>
  </body>
</html>
