<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Weather Recommender</title>
  </head>
  <body>
   {{{body}}}
   <p class="hidden-key">{{secondKey}}</p>
   <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{secretKey}}&libraries=places"></script>
   <script src="script.js"></script>
  </body>
</html>
