.hidden-key {
  display: none;
}

#autocomplete {
  width: 300px;
}

body {
  background: url('./images/sky.jpg');
  background-position: center center;
  text-align: center;
  font-family: sans-serif;
}

input {
  font-size: 18px;
}
