.hidden-key {
  display: none;
}

body {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0 auto;
}

/************* home search section styles *************/

#home {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ), url('./images/sky.jpg');
  background-position: center center;
  /*background-clip: border-box;*/
  height: 100vh;
  padding: 10%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 3% 2% 0;
  color: rgba(255, 255, 255, 0.9);
  font-size: 54px;
  font-family: 'Raleway';
  text-shadow: -1px 1px 4px #666666;
}

h2 {
  color: rgba(75, 75, 75, 0.6);
  font-size: 36px;
  margin: 0;
  padding: 1% 1% 5%;
  font-weight: 300;
}

input {
  font-size: 28px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  width: 50%;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  border-radius: 0;
}

input:focus {
  outline:none;
  width: 50%:
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
:-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

::-webkit-input-placeholder:focus {
  color: rgba(255, 255, 255, 0.9);
}

.fontAwesome {
  font-family: Helvetica, 'FontAwesome', sans-serif;
}

/************* second section weather styles *************/

#weatherResults {
  display: none;
  padding: 10% 5%;
  color: #737373;
}

.weatherWrapper {
  width: 90%;
  padding: 5%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e6e6e6;
}

.weather {
  width: 50%;
  padding: 5% 0 5% 5%;
}

.weatherTemp {
  font-size: 120px;
  margin: 0;
  text-align: center;
  font-weight: 400;
}

.warmTemp {
  color: #7C002B;
}

.coolTemp {
  color: #445f88;
}

.weatherTemp p {
  margin: 0;
}

.weatherDetails {
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
  padding-left: 20%;
}

.weatherDetails img {
  margin-bottom: -20px;
  padding-left: 3px;
}

.feelslike {
  display: inline;
}

.categories {
  width: 50%;
}

.category {
  width: 60%;
  font-size: 20px;
  cursor: pointer;
  padding: 5%;
  margin: 12px 10px;
  background-color: rgba(255,255,255,0.4);
}

.warmCategory {
  box-shadow:
   1px 1px 4px #4D3384,
   -1px -1px 4px #B73524;
}

.coolCategory {
  box-shadow:
   1px 1px 4px #304360,
   -1px -1px 4px #81A8DB;
}

.category:hover, .visited {
  background-color: rgba(255,255,255,0.9);
}

.category:nth-child(1) {
  opacity: 0;
  animation: categoryFade 0.7s ease 1s forwards;
}

.category:nth-child(2) {
  opacity: 0;
  animation: categoryFade 0.7s ease 1.2s forwards;
}

.category:nth-child(3) {
  opacity: 0;
  animation: categoryFade 0.7s ease 1.4s forwards;
}

.category:nth-child(4) {
  opacity: 0;
  animation: categoryFade 0.7s ease 1.6s forwards;
}

@keyframes categoryFade {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/************* google place result section styles *************/

#placeResults {
  display: none;
  text-align: left;
  padding-bottom: 100px;
  padding: 5% 10% 10% 10%;
  background: #bbcedd;
}

.place {
  background: rgba(255,255,255,0.9);
  color: #555466;
  margin: 10px;
  padding: 2% 5%;
  box-shadow: -4px 4px 8px #555466;
}

.place a {
    color: #555466;
    word-wrap: break-word;
}

.review {
  font-style: italic;
}



@media screen and (-webkit-min-device-pixel-ratio:0) {
  .warmTemp {
    background: -webkit-linear-gradient(top, #B73524, #4D3384);
    background: linear-gradient(#B73524, #4D3384);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .coolTemp {
    background: -webkit-linear-gradient(#81A8DB, #304360);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/*************mobile styles*************/

@media screen and (max-width: 800px){
  #weatherResults {
    padding: 20% 5%;
  }
}

@media screen and (max-width: 600px){

  #home {
    padding: 15% 2%;
    background-position: top center;
  }

  #weatherResults {
    padding: 20% 5%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  input {
    font-size: 20px;
    width: 80%;
  }

  .weatherWrapper {
    flex-wrap: wrap;
  }
  .weather {
    width: 80%;
    padding: 0;
  }
  .weatherDetails {
    text-align: center;
    padding: 0;
  }
  .categories {
    width: 80%;
  }
  .category {
    margin: 10px auto;
    width: 80%;
  }
}
